* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Raleway', sans-serif;


}

main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tudo{
    width: 900px;
    height: 500px;

    box-shadow: 5px 5px 10px rgb(141, 141, 141);
    border-radius: 30px;

    display: flex;



}

.your-result{
    width: 450px;
    height: 500px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(104, 24, 179);
 


}

.resultado{
    font-size: 40px;
    font-weight: bold;
    padding: 1em;
    margin: 0 auto;
    color: rgb(217, 218, 219);

    align-items: center;

    height: 100px;
}

.circulo{
    border-radius: 50%;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   

    background-color: rgb(149, 69, 224);
    
    color: azure;
}

.circulo .N1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto 0;
}

.circulo .N2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    font-size: 15px;
}


.bom-trabalho{
    margin: 10px 0 25px 0;
    width: 350px;
    height: 100px;
    align-items: center;
    font-size: 18px;
    padding: 1em;
    color: rgb(217, 218, 219);
}

/*comit 2*/

.sumario{
    width: 450px;
    height: 500px;

    padding: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.sumario .descricao{
    margin: 0 100px 0 0 ;
}

.filho1{
    background-color: rgb(255, 57, 57, 0.1)   ;
    color: rgb(179, 1, 1);
    font-weight: bold;
    border-radius: 10px;  
}
.filho2{
    background-color: rgb(255, 255, 0, 0.7)   ;
    color:rgb(170, 170, 0) ;
    font-weight: bold;
    border-radius: 10px;  
}
.filho3{
    background-color: rgb(0, 214, 0, 0.3)   ;
    color: green;
    font-weight: bold;
    border-radius: 10px;  
}
.filho4{
    background-color: rgb(10, 236, 252, 0.3)  ;
    color: rgb(0, 139, 139);
    font-weight: bold;
    border-radius: 10px;  
}

.sumario .filho1:hover{
    scale: 1.05;
    transition: 0.5s;
}
.sumario .filho2:hover{
    scale: 1.05;
    transition: 0.5s;
}
.sumario .filho3:hover{
    scale: 1.05;
    transition: 0.5s;
}
.sumario .filho4:hover{
    scale: 1.05;
    transition: 0.5s;
}

.sumario .filho1, .filho2, .filho3, .filho4{
    width: 350px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.sumario .container{
    margin: 0 10px 0 0 ;
    width: 130px;
    height: 20px;
}
.sumario .numero{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.sumario div{
    width: 350px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sumario section{
    width: 350px;
    height: 25px;

    margin: 1em;

    font-weight: bold;
    font-size: 20px;

}
.filho1 div{
    display: flex;
    justify-content: space-around;
}

.sumario input{
    width: 350px;
    height: 50px;
    margin: 30px 0;

    color: white;
    background-color: rgb(77, 71, 71);
    border-radius: 10px;
    border: none;

    align-items: center;

    font-size: 20px;
}

.sumario input:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.7s;
}
