* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Raleway', sans-serif;


}

main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tudo{
    width: 900px;
    height: 500px;

    box-shadow: 5px 5px 10px rgb(141, 141, 141);
    border-radius: 30px;

    display: flex;



}

.your-result{
    width: 450px;
    height: 500px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(104, 24, 179);
 


}

.resultado{
    font-size: 20px;
    padding: 1em;
    margin: 0 auto;
    color: rgb(217, 218, 219);

    align-items: center;

    height: 100px;
}

.circulo{
    border-radius: 50%;
    height: 150px;
    width: 150px;

    margin-bottom: 50px;

    background-color: aqua;
    color: azure;
}

.circulo p{
    align-items: center;
    display: flex;
    justify-content: center;

    margin: 35px auto ;
    width: 30px;
    height: 80px;
}


.bom-trabalho{
    width: 400px;
    height: 100px;
    align-items: center;
    font-size: 18px;
    padding: 1em;
    color: rgb(217, 218, 219);
}
