* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Raleway', sans-serif;


}

main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tudo{
    width: 900px;
    height: 500px;

    box-shadow: 5px 5px 10px rgb(141, 141, 141);
    border-radius: 30px;

    display: flex;



}

.your-result{
    width: 450px;
    height: 500px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(104, 24, 179);
 


}

.resultado{
    font-size: 40px;
    font-weight: bold;
    padding: 1em;
    margin: 0 auto;
    color: rgb(217, 218, 219);

    align-items: center;

    height: 100px;
}

.circulo{
    border-radius: 50%;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   

    background-color: rgb(149, 69, 224);
    
    color: azure;
}

.circulo .N1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto 0;
}

.circulo .N2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    font-size: 15px;
}


.bom-trabalho{
    margin: 30px 0 25px 0;
    width: 400px;
    height: 100px;
    align-items: center;
    font-size: 18px;
    padding: 1em;
    color: rgb(217, 218, 219);
}

/*comit 2*/

.sumario{
    width: 450px;
    height: 500px;

    padding: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.filho1{
    background-color: antiquewhite;

    border-radius: 10px;
    
}

.sumario div{
    width: 350px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sumario section{
    width: 350px;
    height: 25px;

    margin: 1em;

    font-weight: bold;
    font-size: 20px;

}
.filho1 div{
    display: flex;
    justify-content: space-around;
}

.sumario input{
    width: 350px;
    height: 50px;
    margin: 30px 0;

    color: white;
    background-color: rgb(77, 71, 71);
    border-radius: 10px;
    border: none;

    align-items: center;

    font-size: 20px;
}
